### Day Objectives
- Practice on Income Dataset
    - Define functions for the following data points
        - Combined Average Income of all states from 2005 to 2013
        - Answer = 48525
        - State with highest average income in the last three years
        - Answer = Alaska
        - State with lowest average income from 2007 to 2010(inclusive)
        - Answer = Arkansas
        - Print the list of all states in the same line with average income less than California
        - Answer = Alabama Arizona Arkansas 
        - Print the names of states based on descending order of income in the year 2009
        - Answer = Alaska California Arizona Alabama Arkansas
        - State with the lowest recorded income from 2005 to 2013
        - Answer = Arkansas

In [5]:
import pandas as pd

def readCSVData(filePath):
    return pd.read_csv(filePath)
    
    
filePath = "Data Files/income.csv"



readCSVData(filePath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [2]:
def getRowIndex(df,rowkey):
    for i in range(len(df.values)):
        if df.values[i][0]==rowkey or df.values[i][1]==rowkey:
            rowindex=i
    return rowindex
def getColumnIndex(df,columnkey):
    for i in range(len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex=i
    return columnindex

In [9]:
# Function for finding avareage of states population of all years

def getStateIncome(df, state):
    records = df.values
    keys = list(df.head(0))[2:]
    state_Income = {}
    for index in range(len(records)):
        if(records[index][1]== state):
            pop = list(records[index][2:])
    for index in range(len(keys)):
        state_Income[keys[index]] = pop[index]
    return state_Income


def averageIncome(df):
    records = df.values
    allStatesIncome = [] # empty list
    count = 0
    s = 0
    for index in range(len(records)):
        state = records[index][1]
        IncomeOfState = getStateIncome(df, state)
        allStatesIncome.append(IncomeOfState)
    #return allStatesIncome

    for state in allStatesIncome:
        s += sum(state.values())
        count += len(state.values())
    
    return s//count
            
        
    

incomedf = readCSVData(filePath)
    
averageIncome(incomedf)

48876

In [10]:
# State with highest average income in last three years

def highestAverageIncomeInLastThreeYears(df):
    records = df.values
    incomeLastThreeYears = {} # empty list
    averageIncomes = []
    
    for row in records:
        incomeLastThreeYears[row[1]] = row[-3:]
        
    for state in incomeLastThreeYears.items():
        s = 0
        count = 0
        s += sum(state[1])
        count += len(state[1])
        averageIncomes.append(s//count)
    highestAverageState  = ""
    for item in incomeLastThreeYears.items():
        if(sum(item[1])//len(item[1]) == max(averageIncomes)):
            highestAverageState = highestAverageState + item[0]
            
    return "Highest Average Income Of Last Three Years is "+highestAverageState+' : '+str(max(averageIncomes))
        
        
            
    

incomedf = readCSVData(filePath)
highestAverageIncomeInLastThreeYears(incomedf)

'Highest Average Income Of Last Three Years is Alaska : 60738'

In [11]:
def lowestAverageIncome(df, start_year, end_year):
    records = df.values
    headings = list(df.head(0))
    indices = [index for index,value in enumerate(headings) if start_year <= value <= end_year]
    #print(indices)
    data = {}
    
    for row in records:
        li = []
        s = 0
        c = 0
        for index in range(len(row)):
            if(index in indices):
                s += row[index]
                c += 1
                li.append(row[index])
        data[row[1]] = s//c
    low = min(data.values())
    state = ""
    for item in data.items():
        if(item[1]==low):
            state = state+item[0]
    #print(data)
    statelowestCali = data["California"]
    print("States with lowest income than California are below :")
    for item in data.items():
        if(item[1]<statelowestCali):
            print(item[0], end = " ")
    return "\nlowestStateIncome is "+state+' : '+str(low)
        
               
               
            
    
#incomedf = readCSVData(filePath)

start_year = input()

end_year = input()

lowestAverageIncome(incomedf, start_year, end_year)

2003
2015
States with lowest income than California are below :
Alabama Arizona Arkansas

'\nlowestStateIncome is Arkansas : 38828'

In [13]:
# Print the names of states based on descending order of income in the year 2009

def sortIncomes(df, year):
    records = df.values
    headings = list(df.head(0))
    indices = [index for index,value in enumerate(headings) if value == year]
    incomesInYear = []
    for row in records:
        for index in range(len(row)):
            if(index == indices[0]):
                incomesInYear.append(row[index])
    incomesInYear.sort(reverse = True)
    return incomesInYear
                
    
#incomedf = readCSVData(filePath)

year = input()

sortIncomes(incomedf, year)

2013

[61137, 57528, 50602, 41381, 39919]